Connected Services/RecipeService/RecipesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://foodharbor.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://foodharbor.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foodharbor.com/">
      <s:element name="GetRecipes">
        <s:complexType />
      </s:element>
      <s:element name="GetRecipesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecipesResult" type="tns:ArrayOfRecipe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRecipe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Recipe" nillable="true" type="tns:Recipe" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Recipe">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RecipeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ingredients" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Method" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddRecipe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recipeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ingredients" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="method" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRecipeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRecipesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecipes" />
  </wsdl:message>
  <wsdl:message name="GetRecipesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="AddRecipeSoapIn">
    <wsdl:part name="parameters" element="tns:AddRecipe" />
  </wsdl:message>
  <wsdl:message name="AddRecipeSoapOut">
    <wsdl:part name="parameters" element="tns:AddRecipeResponse" />
  </wsdl:message>
  <wsdl:portType name="RecipesServiceSoap">
    <wsdl:operation name="GetRecipes">
      <wsdl:input message="tns:GetRecipesSoapIn" />
      <wsdl:output message="tns:GetRecipesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <wsdl:input message="tns:AddRecipeSoapIn" />
      <wsdl:output message="tns:AddRecipeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecipesServiceSoap" type="tns:RecipesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipes">
      <soap:operation soapAction="http://foodharbor.com/GetRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <soap:operation soapAction="http://foodharbor.com/AddRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecipesServiceSoap12" type="tns:RecipesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipes">
      <soap12:operation soapAction="http://foodharbor.com/GetRecipes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <soap12:operation soapAction="http://foodharbor.com/AddRecipe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipesService">
    <wsdl:port name="RecipesServiceSoap" binding="tns:RecipesServiceSoap">
      <soap:address location="https://localhost:44393/RecipesService.asmx" />
    </wsdl:port>
    <wsdl:port name="RecipesServiceSoap12" binding="tns:RecipesServiceSoap12">
      <soap12:address location="https://localhost:44393/RecipesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>